@{
    ViewBag.Title = "Home Page";
}
@*<div ng-view></div>*@
@*<div ng-controller="travelerListController as vm">
    <div ng-repeat="v in vm.travelers">
        <span ng-bind="v.firstName + ' ' + v.lastName"></span>
    </div>
</div>*@