<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <base href="/">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <meta name="description" content="The description of my page" />
</head>
<body ng-app="app" ng-controller="layoutController as vm" layout="column">
    @*<md-toolbar layout="column" class="md-toolbar-tools">
            <md-button class="menu" ng-click="vm.toggleSideNav()" aria-label="Show Menu">
                <ng-md-icon icon="menu"></ng-md-icon>
            </md-button>
            <h2>YOLO MR TRANSPORTER</h2>
        </md-toolbar>*@
    <md-toolbar layout="column" class="md-toolbar-tools">

        <md-button class="md-icon-button" aria-label="Settings" ng-click="vm.toggleSideNav()">
            <!--<ng-md-icon style="fill:white" icon="menu"></ng-md-icon>-->
            <md-icon md-svg-icon="Content/img/svg/menu.svg" style="fill:white"></md-icon>
        </md-button>
        <div flex><h2 class="title" ng-bind="vm.theTitle.title()"></h2></div>
    </md-toolbar>
    <div flex layout="row">
        <div flex="25">
            <md-sidenav md-component-id="left" @*md-is-locked-open="vm.toggleMenu"*@ class="md-sidenav-left">
                <md-list>
                    <md-list-item ng-repeat="it in vm.sideNavElements">
                        <md-button ng-href="{{it.url}}" ng-class="{'selected' : vm.selected(it) }">
                            {{it.title}}
                        </md-button>
                    </md-list-item>
                </md-list>
            </md-sidenav>
        </div>
        <md-content flex="75" id="content">
            <div ng-view>
                @RenderBody()
            </div>
        </md-content>

    </div>
    <script src="/Scripts/jquery-2.1.4.js"></script>

    <script src="~/lib/src/angular/angular.js"></script>
    <script src="~/lib/src/angular-route/angular-route.js"></script>
    <script src="~/lib/src/lodash/lodash.js"></script>
    <script src="~/lib/src/restangular/restangular.js"></script>
    <script src="~/lib/src/angular-animate/angular-animate.js"></script>
    <script src="~/lib/src/angular-aria/angular-aria.js"></script>
    <script src="~/lib/src/angular-material/angular-material.js"></script>
    <script src="~/lib/src/angular-material-icons/angular-material-icons.min.js"></script>
    <script src="~/app/ng-app-module.js"></script>
    <script src="~/app/ng-config-app.js"></script>
    <script src="~/app/ng-controller-layout.js"></script>
    <script src="~/app/ng-controller-home.js"></script>
    <script src="~/app/transporterlist/ng-module-transporterlist.js"></script>
    <script src="~/app/transporterlist/ng-controller-transporterlist.js"></script>

</body>
</html>
